<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFoodie</title>
    <link rel="stylesheet" href="../styles/menu.css">
    <script src="../js/menu.js" defer></script>
</head>

<body>
    <header>
        <h1> Fast Foodie</h1>
    </header>
    <div class="button-container">

                <button class="order-button" onclick=getHome()>Home</button>
                <button class="order-button" onclick=showForm()>Order Now</button>
            </div>
    <main>
        <div class="image-section">
            <img src="../images/menu.jpg" alt="Logo del restaurante" class="background-image">
            <img src="../images/menu.jpg" alt="Logo del restaurante" class="background-image">
        </div>
        <div class="title-section">
            <h1>Burger</h1>
            <div class="options-list" id="burger options">
                <div class="plate" >
                    
                </div>
                <div class="plate">
                   
                </div>
                <div class="plate">
                   
                </div>
            </div>
            <h1>Pizza</h1>
            <div class="options-list" id="pizza options">
                <div class="plate">

                </div>
                <div class="plate">
                   
                </div>
                <div class="plate">
                    
                </div>
            </div>
            <h1>Hot Dog</h1>
            <div class="options-list" id="hotdog options">
                <div class="plate">
                   
                </div>
                <div class="plate">
                   
                </div>
                <div class="plate">
                    
                </div>
            </div>

        </div>

        </div>
    </main>


</body>

</html>