<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFoodie</title>
    <link rel="stylesheet" href="../styles/menu.css">
    <script src="../js/menu.js" defer></script>
</head>

<body>
    <header>
        <h1> Fast Foodie</h1>
    </header>
    <div class="button-container">

                <button class="order-button" onclick=getHome()>Home</button>
                <button class="order-button" onclick=showForm()>Order Now</button>
            </div>
    <main>
        <div class="image-section">
            <img src="../images/menu.jpg" alt="Logo del restaurante" class="background-image">
            <img src="../images/menu.jpg" alt="Logo del restaurante" class="background-image">
        </div>
        <div class="title-section">
            <h1>Burger</h1>
            <div class="options-list">
                <div class="plate">
                    <p>Beef burger</p>
                    <p>---------------------</p>
                    <p>$20.000</p>
                </div>
                <div class="plate">
                    <p>Cheese burger</p>
                    <p>---------------------</p>
                    <p>$20.000</p>
                </div>
                <div class="plate">
                    <p>chicken burger</p>
                    <p>---------------------</p>
                    <p>$20.000</p>
                </div>
            </div>
            <h1>Pizza</h1>
            <div class="options-list">
                <div class="plate">
                    <p>Personal Pizza</p>
                    <p>---------------------</p>
                    <p>$20.000</p>
                </div>
                <div class="plate">
                    <p>Medium Pizza</p>
                    <p>---------------------</p>
                    <p>$20.000</p>
                </div>
                <div class="plate">
                    <p>Family Pizza</p>
                    <p>---------------------</p>
                    <p>$20.000</p>
                </div>
            </div>
            <h1>Hot Dog</h1>
            <div class="options-list">
                <div class="plate">
                    <p>Simple Hot Dog</p>
                    <p>---------------------</p>
                    <p>$20.000</p>
                </div>
                <div class="plate">
                    <p>American Hot Dog</p>
                    <p>---------------------</p>
                    <p>$20.000</p>
                </div>
                <div class="plate">
                    <p>Special Hot Dog</p>
                    <p>---------------------</p>
                    <p>$20.000</p>
                </div>
            </div>
            
        </div>

        </div>
    </main>


</body>

</html>