<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFoodie</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="./js/app.js" defer></script>
</head>
<body>
    <header>
        <h1> Fast Foodie</h1>
    </header>

    <main>
        <div id="continer">

            <section id="options">
                <button class="menu-bttn" onclick=getMenu()>Menu</button>
                <button class="menu-bttn" onclick=showForm()>Order Now</button>
            </section>
        </div>
    </main>


</body>
</html>