<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFoodie</title>
    <link rel="stylesheet" href="../styles/order.css">
</head>
<body>
    <section class="order-section">
    <h2>I will take your order</h2>
    <form class="order-form" id="orderForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Your Name" required>

        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" placeholder="Ej: 3001234567" required>

        <label for="product">Item:</label>
        <select id="product" name="product" required>
            <option value="">Choose item</option>
            <option value="hamburguesa">Beef Burger</option>
            <option value="hamburguesa">Cheese Burger</option>
            <option value="hamburguesa">Chicken Burger</option>
            <option value="pizza">Personal Pizza</option>
            <option value="pizza">Medium Pizza</option>
            <option value="pizza">Family Pizza</option>
            <option value="perro">Simple Hot Dog</option>
            <option value="perro">American Hot Dog</option>
            <option value="perro">Special Hot Dog</option>
        </select>

        <label for="quantity">Amount:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1" required>

        <label for="comments">Coments:</label>
        <textarea id="comments" name="comments" placeholder="details, sauces, etc."></textarea>

        <section id="options">
            <button class="menu-bttn" onclick=getHome()>Cancel</button>
            <button class="menu-bttn" type="submit">Order Now</button>
        </section>
    </form>
</section>

</body>
</html>